
.videoTutorial {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 20%;
    border: 1px solid #fff;
    background-color: #2381bc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    transition: all 0.4s;
    cursor: pointer;

}

.videoTutorial h5 {
    font-size: 16px;
    font-family: "Alef", serif;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.videoTutorial h5:after {
    content: 'Tutorial';
    color: #fff;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.videoTutorial:hover h5 {
    padding-right: 4.1em;
}

.videoTutorial:hover h5:after {
    opacity: 4;
    right: 0;
}

.videoTutorial2 {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 25%;
    border: 1px solid #fff;
    background-color: #2381bc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    transition: all 0.4s;
    cursor: pointer;

}

.videoTutorial2 h5 {
    font-size: 16px;
    font-family: "Alef", serif;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.videoTutorial2 h5:after {
    content: ' Guide';
    color: #fff;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.videoTutorial2:hover h5 {
    padding-right: 3.1em;
}

.videoTutorial2:hover h5:after {
    opacity: 4;
    right: 0;
}




.videoTutorial3 {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 30%;
    border: 1px solid #fff;
    background-color: #2381bc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    transition: all 0.4s;
    cursor: pointer;

}

.videoTutorial3 h5 {
    font-size: 16px;
    font-family: "Alef", serif;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.videoTutorial3 h5:after {
    content: 's';
    color: #fff;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.videoTutorial3:hover h5 {
    padding-right: 0.7em;
}

.videoTutorial3:hover h5:after {
    opacity: 4;
    right: 0;
}




.videoTutorial4{
    position: fixed;
    z-index: 1;
    right: 0;
    top: 35%;
    border: 1px solid #fff;
    background-color: #2381bc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    transition: all 0.4s;
    cursor: pointer;

}

.videoTutorial4 h5 {
    font-size: 16px;
    font-family: "Alef", serif;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.videoTutorial4 h5:after {
    content: 'Guide';
    color: #fff;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}

.videoTutorial4:hover h5 {
    padding-right: 3.1em;
}

.videoTutorial4:hover h5:after {
    opacity: 4;
    right: 0;
}