.healthmain {
    font-family: "Alef", serif;
}

.Bg {
    background-image: url('/public/Images/doctor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 80vh; */
    position: relative;
}

.Contents {
    width: 100%;
    max-width: 1750px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-block: 2rem;
}

.LeftSection {

    width: 40%;
}

.Data h2 {
    color: #fff;
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: bold;

}

.Data p {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.topbox {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.Box1 {
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;

    
}
.BoxImg img{
    border-radius: 20px;
}


.Box2 {
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;

}

