@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alef:wght@400;700&display=swap');


/* Background color for the section */
.container {
  max-width: 1750px;
  margin: auto;
  width: 100%;
  padding: 0 20px;
  /* border: 1px solid #000 */
}

.whecontrol {
  font-family: "Afacad", sans-serif;
}


.comparisonSection {
  background-color: #FAFAFA;
  padding: 3rem 0;
}

.shippingInner {
  max-width: 1920px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}




.whether {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.whetherImg {
  background-color: #F7F7F7;
  padding: 26px 20px;
  text-align: center;
  height: 118px;
  width: 148px;

}

.whether .whetherImg p {
  font-size: 12px;
  color: #909090;
  font-family: "Afacad", sans-serif;
  font-weight: 400;
}

.whecontrol p.time {
  font-size: 66px;
  font-size: clamp(30px, 5vw, 60px);
  color: #000;
  line-height: 70px;
  font-weight: 600;
}

.whecontrol .timeEst {
  font-size: 32px;
  font-size: clamp(20px, 5vw, 32px);
  background-color: #CACCCD;
  padding: 5px 5px;
  line-height: 37px;
  font-weight: 700;
}

.whecontrol .timePM {
  line-height: 37px;
  font-size: 66px;
  font-size: clamp(30px, 5vw, 66px);

  color: #fff;
  font-weight: 700;
  /* background-color:#CACCCD; */

}

.shippingInner h5 {
  font-size: 2.1rem;
  font-size: clamp(22px, 2vw, 36px);
  color: #2382BC;
  font-weight: 600;
  margin: 0;
}

.timePro {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.verticalLine {
  width: 1px;
  height: 80px;
  background-color: #000;
  border-left: 1px solid #C6C6C6;
}


.shippingInner p {
  font-size: 1.8rem;
  font-size: clamp(20px, 2vw, 28px);

  color: #000000;
  font-weight: 400;
  margin: 0;
}

/* Shipping Notice */
.shippingNotice {
  background-color: #E1E4E8;
  color: #0d6efd;
  font-weight: bold;
  text-align: start;
  padding: 30px 10px;
  border-radius: 5px;
}

/* Heading Styles */
.headingPrimary {
  color: #2382BC;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.headingMain {
  font-weight: bold;
  color: #141414;
  font-size: 60px;
  font-size: clamp(30px, 4vw, 60px);
  font-family: "Alef", serif;


}

/* Paragraph Styles */
.description {
  color: #000;
  font-size: 20px;
  font-size: clamp(16px, 4vw, 20px);
  font-family: "Alef", serif;
  font-weight: 400;

}

/* Comparison Table Styling */
.comparisonContainer {
  background-color: white;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 55px;
  padding: 30px 0 0 30px;
  margin-top: 20px;
  font-family: "Alef", serif;

  /* display: flex; */
}

.mdFlex {
  display: flex;
  justify-content: space-between;

}

.Comparflex {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* List Styles */
.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* width: 75%; */
  text-align: left;
}

.list li {
  font-size: 16px;
  margin-bottom: 8px;
}

/* MD6 Column */
.md6Column {
  text-align: center;
}

/* Others Column */
.othersColumn {
  text-align: center;

}

.ComparflexInner {
  padding: 0 0 30px 0;
}

/* Image Styling */
.image {
  max-width: 100%;
  border-radius: 10px;
  /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2); */
}

.compariPage {
  margin: 50px 0;
}

.list {
  display: table-cell;
  gap: 20px;
  margin: 40px 0 0 0;
}

.list h3 {
  font-size: 24px;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 24px;
  color: #000;
  font-family: "Alef", serif;
  margin: 0;
}

.list {
  color: #000;
  text-align: start;
  font-size: 24px;
  line-height: 29px;
  padding: 12px 12px 12px 40px;
}

.listTick {
  /* list-style-image: url("/public/TickGreenIcon.svg"); */


}

/* .listCross {
    list-style-image: url("/public/CrossRedIcon.svg");
  } */

.listSmall {
  list-style: none;
  /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.listSmall p {
  font-size: 16px;
  font-size: clamp(12px, 2vw, 16px);
  color: #667085;


}

.listSmall li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.listCross {
  position: relative;
  padding: 0 0 0 40px;
  border-left: 1px solid #C8C8C8;
  left: 20px;

}


.listDot {
  position: relative;
}


/* .listDot::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("/public/blackDotIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 8px;
  top: 19px;
} */



.listTick {
  position: relative;
  padding: 0 0 0 40px;
}

.listCross::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("/public/CrossRedIcon.svg");
  /* Correct path */
  background-size: contain;
  background-repeat: no-repeat;
  left: 8px;
}

.listTick:before {
  content: '';
  position: absolute;
  width: 24px;
  /* Icon size */
  height: 24px;
  background-image: url("/public/TickGreenIcon.svg");
  /* Correct path */
  background-size: contain;
  background-repeat: no-repeat;
  left: 8px;
}

.OtherFontStyle {
  font-size: 40px;
  color: #4CA7DE;
  font-weight: 600;
}




.listSmall {
  color: #667085;
  text-align: start;
  font-size: 16px;
  /* display: flex; */
  gap: 10px;
  margin: 0px 0 0 0;
  /* min-width: 222px; */
  /* width: 100%; */
}

.GlucoImg {
  max-width: 541px;
  border-radius: 55px;
  text-align: end;

}

.comparisonTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.comparisonTable img {
  max-width: 106px;
  width: 100%;
  /* height: 28px; */
  max-width: 119px;
}

.comparisonTable th,
.comparisonTable td {
  padding: 12px 12px 12px 40px;
  /* border: 0px solid #fff; */
}

.comparisonTable th {
  background-color: #fff;
  font-weight: bold;
}

.comparisonTable td {
  vertical-align: middle;
}

.mobileView {
  display: none;
}
@media (max-width:600px){
  .list { 
    padding: 12px 12px 12px 0px;
   
  }
}





@media(max-width:1399px) {
  .whetherImg {
    padding: 26px 10px;
    width: 118px;
  }

  .GlucoImg {
    max-width: 307px;
  }
}

@media(max-width:1199px) {
  .Comparflex {
    display: grid;
    justify-content: space-between;
    align-items: end;
  }

  .GlucoImg {
    max-width: 400px;
    /* border: 1px solid #d8d8d8; */
    border-radius: 40px;
    margin: 0 auto 0px;

  }

}



@media(max-width:767px) {

  .comparisonTable {
    display: none;
  }

  .mobileView {
    display: block;

  }

  .mobileGrid {
    margin: 0 0 40px 0;
  }

  /* mobile */

  .MobileBrunoImg {
    width: 100%;
    max-width: 100px;
    margin: 0 0 20px 0;
  }

  .listCross {

    padding: 0 0 0 40px;
    border-left: 0px solid #C8C8C8;
    left: 0;
  }

  .MobileBrunoImg img {
    width: 100%;
  }

}

@media (max-width:500px) {
  .comparisonSection {
    padding: 0rem;
  }

  .listTick:before {
    left: 0px;
  }

  .listCross:before {
    left: 0px;
  }
}