.container{
    max-width: 1920px;
    width: 100%;
    padding: 0 20px;
    margin: auto;

}

.healtherSection{
    text-align: center;
    margin: 30px auto 60px auto;
    width: 972px;
}

.healtherSection h2{
    font-size: clamp(40px, 5vw, 60px);
    font-weight: 700;
    margin: 10px 0;
    font-family: "Alef", serif;
    color: #090914;
}

.healtherSection p{
    color: #000;
    font-size: 20px;
    font-size: clamp(16px, 4vw, 22px);
    font-family: "Alef", serif;
    font-weight: 400;
    margin: 0 0 40px 0;
}