.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
}

.modalContent {
    background-color: #ffffff;
    padding: 30px;
    /* background: #fff; */
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: relative;
    height: auto;
    max-height: 500px;
    overflow: auto;
}
.modalContent::-webkit-scrollbar {
    width: 3px; 
  }
  
  .modalContent::-webkit-scrollbar-track {
    background: #ffffff00; 
  }
  
  .modalContent::-webkit-scrollbar-thumb {
    background: #000000; 
    border-radius: 50px;
  }
  
  .modalContent::-webkit-scrollbar-thumb:hover {
    background: #828282;
  }
/* Close button */
.closeButton {
    position: absolute;
    top: -15px;
    right: 10px;
    background: none;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
    color: #00A7E1;

}

/* Responsive Styles */
@media (max-width: 768px) {
    .modalContent {
        padding: 15px;
        width: 95%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .modalContent {
        padding: 10px;
        width: 95%;
        max-width: 320px;
        
    }

    .closeButton {
       
        top: 5px;
        right: 5px;
    }
}
