.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #c9eaff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo img {
    max-width: 106px;
    width: 100%;
    cursor: pointer;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Navigation Links */
.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

.navLink:hover {
    color: #000;
}

.active {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
    font-size: 18px;
}

.callNowBtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.callNowBtn a {
    font-size: clamp(14px, 1vw, 18px);
    font-weight: 400;
    color: #4CA7DE;
    text-decoration: none;
}

.callNowBtn span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F6FF;
    border-radius: 4px;
}

.callNowBtn span img {
    max-width: 25px;
}


/* Right Side Slide-in Effect */
@media (max-width: 1024px) {
    .hamburger {
        display: block;
        z-index: 11;
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        top: 0px;
        position: absolute;
        right: 10px;
    }

    .navLinks {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 50px 0;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .show {
        right: 0;
    }

    .callNowBtn {
        display: none;
    }
}