.container{
    max-width: 1920px;
    width: 100%;
    margin: auto;
   
}

.callNowBtn{
    /* background-color: #ECECEC; */
    height: 58px;
    width:auto;
    display: flex;
    border-radius: 50px;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 20px;
    justify-content: space-between;
}

.callNowBtn a{
    font-size: 20px;
    font-size: clamp(14px, 1vw, 18px);
    font-weight: 400;
    color: #4CA7DE;
    margin: 0;
    text-decoration: none;
    
}

.callNowBtn span{
    width: 58px;
    border-radius: 4px;
    background-color: #E8F6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}

.callNowBtn span img{
    max-width: 30px;
}

.navLogo{
    max-width: 144px;
 width: 100%;   
}

.navLogo img{
  width: 100%;   
}

.NavCOntrol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.navLink {
    color: #6b6b6b; /* Default color */
    text-decoration: none;
    font-weight: 700;
    /* padding: 5px 15px; */
    /* transition: color 0.3s ease-in-out; */
  }
  
  .navLink:hover {
    color: #000000; /* Change color on hover */
  }
  
  .active {
    color: #000000; /* Active link color */
    font-weight: bold;
    border-bottom: 2px solid #000000 ;
    position: relative;
    
  }

  .active:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
    
  }




@media(max-width:1300px){
    .callNowBtn p{
        /* font-size: 16px; */
     
    }

   
}


@media (max-width:991.98px){
    .callNowBtn{
        display: none;
    }
}

