.FrequMain {
    position: relative;
    font-family: "Alef", serif;

}



.FrequImg img {
    width: 100%;
}


.Title {
    position: absolute;
    bottom: 24%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1750px;
    padding: 20px;
}

.Title h2 {
    color: white;
    font-size: 60px;
    font-weight: bold;

}

@media (max-width:650px) {
    .Title {
        bottom: 10%;
    }
    .Title h2 {
        font-size: 24px;
    }
}