@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: "Alef", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
  /* monospace; */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  transition: 0.5s;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-size: clamp(14px, 1vw, 18px);
  transition: 0.5s;
  color: #000;
}

.me-auto.my-2.my-lg-0.navbar-nav.navbar-nav-scroll {
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  margin: auto;
  /* min-width: 500px; */
}

.navbar-nav-scroll a {
  position: relative;
}

/* .navbar-nav-scroll a::after{
  position: absolute;
  content: "";
  height: 33px;
  width: 0.8px;
  background-color: #000;
  right: -30%;
font-size: 25px;
color: #000;
top: 3px;
transform: rotate3d(0, 1, 1, 30deg);
  
} */




.navbar-toggler:focus{
  box-shadow: unset !important;
} 

.navbar-nav-scroll a:last-child::after {
  display: none;
}


.slick-prev:before,
.slick-next:before {
  content: unset !important;
}


#basic-navbar-nav{
  justify-content: center;
}
.navbar-nav.navbar-nav-scroll{
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

/* 
.slick-dots li {
 
  width: 80px !important;
  height: 10px !important;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: #eeeeeeee;
  border-radius: 61px !important;
  z-index: 1 !important;
}

.slick-dots li.slick-active {
background-color: #000 !important;

} */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 100px !important;
  height: 20px !important;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: black;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px !important;
  height: 10px !important;
  border-radius: 50px;
  content: "" !important;
  text-align: center;
  opacity: .25;
  color: black;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media(max-width:1024px){
  .navbar-nav-scroll a::after {
     /* right: -15%; */
     display: none;
 }
}






