
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Alef", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  transition: 0.5s;
}

.navbar-nav .nav-link {
  font-size: 18px;
  transition: 0.5s;
  color: #000;
}

.me-auto.my-2.my-lg-0.navbar-nav.navbar-nav-scroll {
  width: 80%;
  justify-content: space-between;
  margin: auto;
  /* min-width: 500px; */
}



