.sliderMain {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  padding: 80px 20px;
  border-radius: 10px;
  position: relative;
}

.testimonialContainer {
  max-height: 467px;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 25px;
  position: relative;
}

.testimonialSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialContent {
  display: flex;
  align-items: center;
  gap: 100px;
}

.testimonialVideo {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 446px;
  width: 100%;
}

.videoTag {
  font-size: 20px;
  font-weight: bold;
  color: #2382BC;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

.videoThumbnail {
  position: relative;
  width: 298px;
  height: 306px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid #000 */
}

.videoThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.testimonialText {
  flex: 1;
}

.videoEmbed iframe {
  margin: 20px 0 0 0;
}

.testimonialText blockquote {
  font-size: 28px;
  font-size: clamp(18px, 2vw, 28px);
  font-weight: 600;
  color: #191919;
  position: relative;
}

.bockque {
  display: block;
  gap: 20px;

}

.bockque hr {
  margin: 30px 0;
  color: #E5E5E5;
  border-top: 2px solid #E5E5E5;
}

.quoteIcon {
  font-size: 2rem;
  color: #000;
  margin-right: 5px;
}

.quoteContent {
  display: flex;
}

.testimonialAuthor {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.testimonialAuthor span {
  font-size: 25px;
  font-weight: 600;
  font-family: "Alef", serif;
  color: #191919;
}

.testimonialAuthor img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #D6D6D6;
}


/* .MycustiomBtn */
.MycustiomBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: 3%;
  bottom: 20%;
}
.MycustiomBtn div:hover img {
  filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(89%) contrast(90%);
}
/* Custom Arrows */

.nextArrow,
.prevArrow {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.nextArrow {
  right: 50px;
}

.prevArrow {
  left: -50px;
}

.nextArrow img,
.prevArrow img {
  width: 100%;
  height: auto;
}

.nextArrow:hover,
.prevArrow:hover {
  opacity: 1;
}

.testimonialContainer .slick-prev:before {
  content: unset !important;
}


.testimonialContainer .slick-prev:before,
.testimonialContainer .slick-next:before {
  /* display: unset; */
  content: unset !important;
}

.prevArrow {
  right: 100px !important;
  left: unset !important;
  z-index: 1;
}


/* Responsive Design */
@media (max-width: 1200px) {
  .testimonialContent {
    gap: 20px;
  }

  .testimonialContainer {
    max-height: unset;

  }
}




@media (max-width: 768px) {
  .testimonialContent {
    flex-direction: column;
    text-align: left;
  }

  .testimonialContainer {
    padding: 20px 10px;

  }

  .testimonialVideo {
    margin-bottom: 15px;
  }

  .testimonialAuthor {
    justify-content: flex-start;
  }

  .nextArrow,
  .prevArrow {
    top: 98%;
    right: 0px;
  }

  /* .MycustiomBtn */
  .MycustiomBtn {
    right: 5%;
    bottom: 12%;
  }

}

@media (max-width:600px) {
  .quoteContent {
    display: flex;
  }

  .quoteIcon {
    font-size: 1rem;
  }

  .quoteIcon img {
    width: 100%;
  }

  .bockque {
    display: block;
  }

  .sliderMain {
    padding: 40px 20px;
  }

  .prevArrow {
    right: 70px !important;
  }

  .bockque hr {
    margin: 15px 0;
  }
}