.wellnessContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
  }
  
  .leftSection {
    width: 40%;
  }
  
  .leftSection .tag {
    display: flex;
    align-items: center;
    gap: 10px;

    background: #e0f2fe;
    padding: 0px 20px;
    border-radius: 30px;
    font-weight:normal;
    color: #282A30;
    font-size: 20px;
    font-family: "Alef", serif;
    height: 58px;
    border: 1px solid #2382bc;
    width: fit-content;
  }
  
  .leftSection h1 {
    font-size: 3rem;
    font-size: clamp(40px, 8vh, 75px);
    font-weight: 700;
    margin: 10px -80px 10px 0;
    font-family: "Alef", serif;
    color: #191919;
    width: 500px;
    position: relative;
  }
  
  .leftSection p {
    color: #000;
    font-size: 20px;
    font-size: clamp(16px, 4vh, 20px);
    font-family: "Alef", serif;
    font-weight: 400;
}
  
  .amazonBtn {
    background: #ff9900;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .amazonLogo {
    font-weight: bold;
    margin-left: 5px;
  }
  
  .rightSection {
    /* width: 55%; */
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .featureImage {
    width: 100%;
    max-width: 797px;
    /* border: 1px solid #000; */
    height: auto;
    border-radius: 10px;
  }
  
  .features {
    /* flex: 1; */
    min-width: 500px;
  }
  
  .features h2 {
    color: #000;
    font-size: 35px;
    font-size: clamp(25px, 5vh, 35px);
    font-family: "Alef", serif;
    margin: 0 0 30px 0;
    font-weight: 600;
}


.features h4 {
    font-size: 25px;
    font-size: clamp(18px, 4vh, 25px);
    font-family: "Alef", serif;
    font-weight: 600;
    color: #191919;

}
  

.tag{
    display: flex;

} 

  .tag span{
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: #2382BC;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #000;
  }
  
  .features li span {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .features p {
    font-size: 16px;
    font-size: clamp(14px, 4vh, 16px);
    font-family: "Alef", serif;
    color: #191919;
    font-weight: 400;
    margin: 5px 0 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .wellnessContainer {
      flex-direction: column;
      text-align: center;
    }
  
    .leftSection, .rightSection {
      width: 100%;
    }
  
    .rightSection {
      flex-direction: column;
    }
  
    .featureImage {
      width: 100%;
      max-width: 400px;
    }
  }
  